
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <div class="container-fluid">
        <div class="navbar-wrapper">
         
          <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
            
          </div>
        </div>
       
   
    </div>
      <div class="row" style="margin-left:20px ;">
        
        <div class="col">
         
          <div ngbDropdown class="d-inline-block" *ngIf="c()">
            
            <button class="btn " id="dropdownBasic1" ngbDropdownToggle style="background-color: #FF3636; border-radius: 20px; "><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>{{n}} {{p}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            
              <a ngbDropdownItem href="#"  >
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400" [routerLink]="['/user-profile']" routerLinkActive="router-link-active"  ></i>
                Profile
              </a>
              <a ngbDropdownItem href="#"  >
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" (click)="logout()" ></i>
               logout
              </a>

            </div>
      
        </div>
    </div>
    
    </div>
</nav>
